/* ********** Custom Properties ********** */
:root {
  /* --first-color: rgb(255,186,49);
  --first-alpha-color: rgb(255,186,49, 0.75); */
  --first-color: rgb(208, 71,47);
  --first-color-smooth-1: rgb(255, 214, 201);
  --first-color-smooth-2: rgb(255, 171, 157);
  --first-color-smooth-3: rgb(255, 129, 114);
  --fisrt-alpha-color: rgba(208, 71,47,0.75);
  --second-color: rgb(70,61,178);
  --second-alpha-color: rgba(70,61,178, 0.75);
  --third-color: rgb(48, 41, 122);
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --nav-width: 14rem;
}

/* ********** Reset ********** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--text-color);
  padding-left: var(--nav-width);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* ********** Components ********** */
/* SideNav */

.menu {
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
}

.menuLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.menuLinks a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--gray-light-color);


  }

.menuIcons {
    background-color: var(--gray-light-color);
}

.menuIcons svg {
  color: var(--black-color);

}

/* Home */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.homeText{
  color: var(--gray-light-color);
  position: absolute;
  left: 8rem;
  z-index: 999;
}

.homeText h2{
  font-size: 4rem;
}

.homeText h1{
  font-size: 6rem;
}

.home img {
  width: 600px;
  position: absolute;
  right: 0;
  z-index: 998;
}

/* Card */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--second-color);
  border-radius: 2rem;
  padding: 1rem;
  color: var(--gray-light-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.726);
  width: 80%;
  height: 95%;
  position: relative;

}

.card img {
  border-radius: 2rem;
}

.card h3{
  color: var(--first-color-smooth-3);
}

.card p {
  margin-top: 1rem;
  font-size: 0.80rem;
  line-height: 1.25;
  margin: 0.75rem 2rem;
}

.card > button {
  background-color: var(--first-color);
  color: var(--gray-light-color);
  margin-top: 0;
  width: 60%;
  height: 50px;
  padding: 0.75rem;
}

.cardNumber {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: var(--first-color-smooth-2);
  font-weight: bold;
}



/* ********** Utilities ********** */

.sideNav {
    width: var(--nav-width);
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
}

.mainSection {
    width: 100%; 
    height: 100vh;   
}

.btn {
  border: none;
  cursor: pointer;  
  border-radius: 4rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--black-color);
  background-color: var(--gray-light-color);
}

.elementHidden {
  opacity: 0;
  pointer-events: none;
}


/* ********** Site Style ********** */

.home {
    background-color: var(--black-color);
    /* background-color: var(--third-color); */

}

.proyects {
  position: relative;
  background-color: rgb(14,16,65)

}

.proyectsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50%);
  justify-items: center;

  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  width: 100%;
  height: 100%;
}



.arrow {
  width: 2rem;
  height: 4rem;
  position: absolute;
  color: var(--first-color);
  margin-left: 1rem;
  margin-right: 1rem;
}

.arrow > polygon{
  cursor: pointer;
}

.proyectsLeftBtn {
  left: 0;
  top: 50%;
}

.proyectsRightBtn {
  right: 0;
  top: 50%;

}

